<td class='code'>{{name}}</td>
<td>
	
	{{#if isBody}}
		{{#if defaultValue}}
			<textarea class='body-textarea' name='{{name}}'>{{defaultValue}}</textarea>
		{{else}}
		    <textarea class='body-textarea' name='{{name}}'></textarea>
		{{/if}}
		
	{{else}}
		{{#if defaultValue}}
			<input minlength='0' name='{{name}}' placeholder='' type='text' value='{{defaultValue}}'/>
		{{else}}
		    <input minlength='0' name='{{name}}' placeholder='' type='text' value=''/>
		{{/if}}
	{{/if}}

</td>
<td width='40'>{{{dataType}}}</td>
<td width='600'>{{{description}}}</td>
<td width='150'>{{{example}}}</td>
